.welcome {
    font-family: fantasy;
    margin: 10px 5px;
    padding: 4px 8px;
    padding: 40px;
    text-align: center;
    color: rgb(9, 10, 10);
    margin-top: 750px;
    margin-bottom: 50px;
    font-size: 50px;
}

.welcome:hover {
    transform: rotate(360deg);
    transition: all 5s ease-in-out;
}

.digital {
    padding: 8px;
    margin-left: 60px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 53, 54);
    text-shadow: 2px 2px;
}

.words {
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 236, 245);
}

.txt {
    float: left;
    margin-left: 60px;
    padding: 8px 14px;
    font-size: 15px;
    width: 500px;
    margin-top: 50px;
    font-size: 18px;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: rgb(58, 55, 55);
}
.Pic {
    margin-right: 0;
    height: 500px;
    border-radius: 8px;
    position: relative;
    perspective: 600;
}

.Pic:hover {
    transform: scaleX(-1);
}

.home-body {
    margin-bottom: 0;
}