
.logbook {
    background-color: rgb(230, 230, 233);
}

.stuPortal {
    text-align: center;
    color: white;
}
.top {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 9);
    padding: 15px;
}

.body {
    margin: 20px 25px;
    padding: 8px 0;
}

.logo {
    width: 100px;
    height: 90px;
    float: left;
    margin-left: 100px;
}

.workdone {
    color: rgb(1, 1, 1);
    font-size: 30px;
    text-align: center;
    margin-left: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.des {
    font-size: 20px;
    color: rgb(2, 1, 1);
    font-weight: bold;
}

.date {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: monospace;
    padding: 4px 0;
    border-style: outset;
    border-color: black;
}

.note {
    padding: 4px 2px;
    border: 2px solid black;
    margin-left: 0px;
    display: block;
    width: 300px;
    height: 150px;
    font-style: unset;
    font-family: Arial, Helvetica, sans-serif;
}

.tex {
    font-size: 20px;
    font-weight: bold;
    font-style: inherit;
    border: 2px solid black;
}

.notice {
    font-size: 13px;
    font-weight: 700;
    font-style: oblique;
    color: rgb(88, 85, 55);
}

.file {
    background-color: white;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 8px 0;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    width: 180px;
}

.entry {
    margin-left: 25%;
}

.save, .upload {
    
    background-color: #000000;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
    cursor: pointer;
    padding: 14px 20px;
    text-align: center;
    width:100px;
    text-transform: uppercase;
    margin: 20px 10px;
    border-radius: 5px;
}

.save:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 2px solid black;
}

.upload:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}
.div {
    height: 150px;
    background-color: blue;
    background-image: linear-gradient(rgb(8, 8, 8), white);
    text-align: center;
}

.bottomText {
    margin-top: 100%;
    font-size: 30px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}