
.placement {
    margin: 40px 40px;
    padding: 5px 10px;
    display: block;
    background-color: white;
    width: 38%;
}

.heading {
    padding: 20px;
    color: white;
    background-color: black;
    font-family: monospace;
}

.p {
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-style: initial;
}

.text {
    padding: 6px 20px;
    margin: 8px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block;
    width: 180px;
    height: 30px;
    background-color: rgb(219, 226, 240);
    font-size: 17px;
}

.button {
    background-color: #070707;;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    text-align: center;
    border-radius: 5px;
    width:220px;
    text-transform: uppercase;
    margin: 20px 0px;
    z-index: 1;
}

.button:hover{
    background-color: #fdfdfd;
    color: black;
    border: 2px solid black;
}

