
.regHere {
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4px;
    color: black;
}

 .regForm{
    padding: 20px;
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: center;
 }
.enter {
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-style: initial;
}

.reg {
    background-color: rgb(253, 253, 253);
    background-image: linear-gradient(blue white);
    padding: 20px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5%;
}


input, .select {
    padding: 6px 20px;
    margin: 8px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    border-radius: 2px;
    display: inline-block;
    width: 250px;
    background-color: white;
}

.select-level {
    padding: 6px 20px;
    margin: 8px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    width: 250px;
    background-color: rgb(219, 226, 240);
    position: relative;
}
.reg-button {
    background-color: #030303;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    text-align: center;
    border-radius: 5px;
    width:300px;
    text-transform: uppercase;
    margin: 20px 0px;
    margin-top: 10%;
}

.reg-button:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
}

.regBottom {
    padding: 35px;

} 

.reg-log {
    padding: 6px 10px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    color: grey;
}

.login-acc {
    list-style-type: none;
    display: inline-block;
    color: darkolivegreen;
}